<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.GptUserPackageMapper">

    <resultMap type="GptUserPackage" id="GptUserPackageResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="packageId"    column="package_id"    />
        <result property="remainingCount"    column="remaining_count"    />
        <result property="expireTime"    column="expire_time"    />
        <result property="isExpire"    column="is_expire"    />
    </resultMap>

    <sql id="selectGptUserPackageVo">
        select id, user_id, package_id, remaining_count, expire_time, is_expire from gpt_user_package
    </sql>

    <select id="selectGptUserPackageList" parameterType="GptUserPackage" resultMap="GptUserPackageResult">
        <include refid="selectGptUserPackageVo"/>
        <where>
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="packageId != null "> and package_id = #{packageId}</if>
            <if test="remainingCount != null "> and remaining_count = #{remainingCount}</if>
            <if test="expireTime != null "> and expire_time = #{expireTime}</if>
            <if test="isExpire != null  and isExpire != ''"> and is_expire = #{isExpire}</if>
        </where>
    </select>

    <select id="selectGptUserPackageById" parameterType="Long" resultMap="GptUserPackageResult">
        <include refid="selectGptUserPackageVo"/>
        where id = #{id}
    </select>
    <select id="selectGptUserPackageListByUserId" resultType="com.ruoyi.system.domain.GptUserPackage">
        select  * from gpt_user_package where user_id = #{userId} and is_expire = 1
    </select>

    <select id="selectGptUserPackageAllByUserId" resultType="com.ruoyi.system.domain.GptUserPackage">
        select  * from gpt_user_package where user_id = #{userId} and is_expire = 1
    </select>

    <insert id="insertGptUserPackage" parameterType="GptUserPackage" useGeneratedKeys="true" keyProperty="id">
        insert into gpt_user_package
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">user_id,</if>
            <if test="packageId != null">package_id,</if>
            <if test="remainingCount != null">remaining_count,</if>
            <if test="expireTime != null">expire_time,</if>
            <if test="isExpire != null">is_expire,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="packageId != null">#{packageId},</if>
            <if test="remainingCount != null">#{remainingCount},</if>
            <if test="expireTime != null">#{expireTime},</if>
            <if test="isExpire != null">#{isExpire},</if>
         </trim>
    </insert>

    <update id="updateGptUserPackage" parameterType="GptUserPackage">
        update gpt_user_package
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="packageId != null">package_id = #{packageId},</if>
            <if test="remainingCount != null">remaining_count = #{remainingCount},</if>
            <if test="expireTime != null">expire_time = #{expireTime},</if>
            <if test="isExpire != null">is_expire = #{isExpire},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteGptUserPackageById" parameterType="Long">
        delete from gpt_user_package where id = #{id}
    </delete>

    <delete id="deleteGptUserPackageByIds" parameterType="String">
        delete from gpt_user_package where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
